@use "src/main";

.default {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: main.$secondary;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 700;
    color: main.$textPrimary;
    line-height: 26px;
    margin-top: main.$marginLarge;
}
